.card-widget.card-tags
    .card-content
      .item-headline
        i.fas.fa-music.faa-wrench.animated
        span= _p('aside.card_aplayer')
          center
            span= _p('首次加载不会自动播放哦')
            meting-js(id=theme.aside.card_aplayer.id server=theme.aside.card_aplayer.server type=theme.aside.card_aplayer.type order=theme.aside.card_aplayer.order mini=true,autoplay=true,list-folded=true)